/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/05/2015, 12:57:22
    Author     : Kaio Ribeiro
*/

@charset "UTF-8";



nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    left: 14px;
    text-align: left;
    font-size: 10pt;
}

section#principal fieldset#privacidade{
    margin-right: 680px;
    margin-left: 30px;
}

//form#FCriarEvento label{
  //  color: blue;
  //}